/* POPPINS FONT FAMILY */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #f8f8fa;
}
/* header section */
header {
  background-color: #4617fe;
}
.logo {
  margin-left: 50px;
}
nav {
  margin-right: 3.75rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.nav-item {
  color: #fff;
  margin: 1.4rem 0rem 0rem 1.2rem;
}
.nav-item-active {
  color: #4617fe;
  margin: 1rem 0rem 0rem 1.2rem;
  padding: 2px 5px;
  background-color: #fff;
}
.header-text-img {
  display: flex;
  justify-content: space-between;
}
.header-image {
  position: relative;
  top: 18%;
}
.companies {
  padding-top: 1.25rem;
}
.company-items {
  font-family: "Righteous";
  text-decoration: none;

  font-size: 1.2rem;
  color: #000;
  margin-left: 7.5rem
}
.header-text {
  margin-top: 6.25rem;
  margin-left: 4.4rem;
}
.header-text h2 {
  color: #fff;

  word-spacing: 0.5rem;
  font-size: 3rem;
}
.header-text p {
  color: #fff;
  word-spacing: 0.5rem;
}
/* Cards styling */
.api {

  margin: 5rem 2.50rem;
}
.api-heading {
  font-family: "Poppins", "sans-serif";
  font-weight: 900;
}
.cards {
  height: 40vh;
  display: flex;
 
  flex-direction: row;
  justify-content: space-between;
}
.card {
  padding: 1.2rem 1.25rem;
  color: #000;
}
.card:hover {
  box-shadow: 5px 10px 5px #cad5e2;

  background-color: #fff;
  padding: 20px 20px;
  transition: all 0.5s ease-in-out;
}
.fas.fa-chevron-circle-right{
  position:relative;
  top:40%;
  font-size:37px;
  color:#4719fe;
}
.card-head:hover {
  color: #4719fe;
}

/* Blog section */
.blog-section {
  margin: 0 8rem;
  padding: 5rem 0;
}
.blog-heading {
  display: flex;
  justify-content: space-between;
  font-family: "Poppins";
  font-weight: 900;
  align-items: center;
  font-size: 1.4rem;
  margin-left: 3.75rem;
}
.blog-heading::after {
  content: "See All Articles";
  color: #4719fe;
  font-size: 1rem;
}
.blog-cards {
  background-color: #f7f7f9;
  display: flex;
  flex-direction: row;
  margin: 5rem 2rem;
  justify-content: space-between;
}
.blog-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.blog-content {
  position: relative;
  padding-left: 50px;
  padding-right: 40px;
  border-radius: 2px;
  box-shadow: 5px 5px 20px #cad5e2;
  background-color: #fff;
}
.blog-content h6 {
  font-size: 0.8rem;
  margin-bottom: 0.7rem;
  color: #4719fe;
}
.blog-image {
  height: 60%;
}
.blog-content h3 {
  font-weight: 700;
}
.blog-content small {
  font-size: 12px;
  padding-bottom: 20px;
  color: #757575;
}

.blog-content img {
  position: absolute;
  top: 90%;
  border: 2px solid #fff;
  border-radius: 50%;
  display: inline;
}
.blog-author {
  position: absolute;
  top: 90%;
  left: 50%;

  font-size: 0.7em;
}

/* FAQ SECTION  */
.faq-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #e9edff;
}
.faq-content h2 {
  font-family: "Poppins";
  font-weight: 900;
  font-size: 3rem;
  margin-left: 30px;
}
.faq-content h4 {
  color: #758283;
  margin-left: 30px;
}
.faq-content button {
  color: #fff;
  background-color: #4719fe;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  margin-left: 30px;
  margin-bottom: 30px;
}
.faq-image img {
  height: 60vh;
  width: 50vw;
}

/* download section */
.download-section {
  display: flex;
  margin: 4rem 2rem;
  flex-direction: row;
  justify-content: space-between;
}
.download-content h1 {
  font-family: "Poppins";
  font-weight: 700;
}
.download-content h1 span {
  font-family: "Poppins";
  font-weight: 400;
}
form {
  border: none;
  border-radius: 30px;

  background-color: #e9edff;
}
form input {
  border: none;
  border-radius: 30px;
  padding: 10px 60px;

  background-color: #e9edff;
}
input::placeholder {
  color: #000;
}
form button {
  text-transform: uppercase;
  color: #fff;
  border-radius: 30px;
  border: none;
  padding: 10px 30px;
  background-color: #4719fe;
}

/* footer section */
.footer-section {
  width:100vw;
  margin-top: 3rem;
  background-color: #4719fe;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer-left {
  margin-top: 5rem;
}
.footer-logo {
  margin-left: 3.75rem;
}
.footer-right {
  margin-top: 5rem;
  margin-right: 3rem;
}
.footer-right-img {
  margin-left: 2rem;
}
.list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-decoration: none;
}
.list-items {
  border-right: 1px solid #fff;
  color: #fff;
  padding-right: 1.2rem;
  list-style: none;
  text-decoration: none;
  margin-left: 1.25rem;
  margin-bottom: 5rem;
}
.footer-logos {
  margin-left: 1.25rem;
}
.logos-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 1.5rem;
  text-decoration: none;
}
@media  screen and (max-width:1380px) {
  .blog-cards{
    margin: 5rem 0;
    justify-content: space-between;
    flex-direction: column;
  }

  
  .blog-heading{
    max-width:80vw;
    
    margin-left: 1.75rem;
  }
  .blog-heading::after {
    margin-right:0rem;

  }
  .fas.fa-chevron-circle-right{
    display: none;
  }
  
}
@media  screen and (max-width:1024px) {
  .header-image{
    position:relative;
    width:50vw;
  }
  .blog-heading{
    max-width:80vw;
    
    margin-left: 1.75rem;
  }
  .blog-heading::after {
    margin-right:0rem;

  }
 
  .blog-cards {
    margin: 2rem 1rem;
    justify-content: space-between;
   }
  .footer-right {
 
    margin-right: 2rem;
  }
  .faq-image img {
    height:30vh;
    width:60vw;
  }
  .blog-heading {
    
    margin-top: 20rem;
  }
  h2{
    font-size:2rem;
  }
}
  @media only screen and (max-width:768px) {
   .blog-section{
    display:none;
   }
   .blog-heading{
    display: none;
   }
    .company-items{
      margin-left:auto;
    }
    .cards{
      height: 400vh;
      flex-wrap: wrap;
    }
    .blog-card{
      height:100vh;

    }
    .header-image {
      opacity:0.2;
      position: absolute;
      top: 40%;
      right:2%;
      min-width:100vw;
      
    }
    .footer-section{
      flex-direction: column;
    }
   
    .logos-list{
      margin-right:auto;
    }
    .list-items {
      margin-left: 0.1rem;
      margin-bottom: 2rem;
    }
    .list{
      flex-wrap: wrap;
      justify-content: space-around;
    }
    .download-section{
      flex-direction: column;
    }
    form button {
      padding:10px 50px;
    }
    form input{
      padding:2px 5px;
    }
    .faq-section {
      flex-direction: column;
    }
    .faq-image img {
      width:100vw;
    }
    .header-text h2{
      font-size: 1.5rem;
    }
    
  }
  @media  only screen and (max-width:400px) {

   
    .header-text {
      margin-top: 1.25rem;
      margin-left: 1.4rem;
    }
    br{
      display: none;
    }
    .cards{
      min-height: 200vh;
      flex-wrap: wrap;
    }
    .blog-heading {
      font-size: 0.8rem;
    }
    .api-heading{
      font-size:1.8rem;
    }
    nav{
      display: none;
    }
    .logo {
      width:70px;
      margin-left:2rem;
    }
    .blog-card{
      margin :2rem 1rem;
    }
    .blog-content{
      padding:0 2px;


    }
    .blog-image{
      width:50vw;
    }
    .blog-content img ,.blog-author {
      display: none;
    }
   
   
    .blog-content h6 {
      font-size: 0.2rem;
    }
    .blog-section {
      margin : 0 1rem;
    }
    .blog-content small {
      font-size: 10px;
  }
}

  

  
